{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <main>
        <section class="categorie">
            <h2>Nos catégories</h2>
            <div class="categorie-grid">
            {% for categorie in homeCategories %}
                <div class="grid">{{ categorie.intitule }}</div>
            {% endfor %}
            </div>
        </section>
        <section class="session">
            <h2>Sessions</h2>
            <table class="session-table">
                <thead>
                    <tr>
                        <th colspan="6">
                            <p>Liste des sessions</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Intitule</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Nombre de places</th>
                        <th>Description</th>
                    </tr>
                    {% for session in homeSessions %}
                    <tr>
                        <td>{{ session.intitule }}</td>
                        <td>{{ session.dateDebut | date('d-m-Y')}}</td>
                        <td>{{ session.dateFin | date('d-m-Y')}}</td>
                        <td>{{ session.nbPlace }}</td>
                        <td>{{ session.detailProgramme }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
