{% extends 'base.html.twig' %}

{% block title %}Liste de tous les stagiaires{% endblock %}

{% block body %}
    <h1>Liste de tous les stagiaires</h1>
    <a href="{{ path('add_stagiaire') }}">Ajouter un stagiaire</a> <br>
    {% for stagiaire in stagiaires %}
        {{ stagiaire.nom }} <br>
        {{ stagiaire.prenom }} <br>
        {{ stagiaire.dateNaissance | date('d-m-Y') }} <br>
        {{ stagiaire.sexe }} <br>
        {{ stagiaire.ville }} <br>
        {{ stagiaire.courriel }} <br>
        {{ stagiaire.NumeroTelephone }} <br>
        <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">Détail</a> <br>
    {% endfor %}
{% endblock %}
