{% extends 'base.html.twig' %}

{% block title %}Liste de tous les stagiaires{% endblock %}

{% block body %}
<section>
    <table>
        <thead>
            <tr>
                <th colspan="8">
                    <h1>Détails du stagiaire {{ stagiaire }}</h1>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Date de naissance</th>
                <th>Sexe</th>
                <th>Ville</th>
                <th>Courriel</th>
                <th>Numéro de téléphone</th>
                <th>Session</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
            <tr>
                <td>{{ stagiaire.dateNaissance | date('d-m-Y')}}</td>
                <td>{{ stagiaire.sexe }}</td>
                <td>{{ stagiaire.ville }}</td>
                <td>{{ stagiaire.courriel }}</td>
                <td>{{ stagiaire.numeroTelephone }}</td>
                {% for session in stagiaire.sessions %}
                <td>{{ session.intitule }} {{ session.dateDebut | date('d-m-Y') }} {{ session.dateFin | date('d-m-Y') }}
                </td>
                {% endfor %}
                <td><a href="{{ path('edit_stagiaire', {'id': stagiaire.id}) }}">Edité</a></td>
                <td><a href="{{ path('delete_stagiaire', {'id': stagiaire.id}) }}">Supprimer</a></td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}