{% extends 'base.html.twig' %}

{% block title %}Listes des sessions{% endblock %}

{% block body %}
<section>
    <h1>Sessions</h1>
    <a href="{{ path('add_session')}}">Ajouter une session</a>
    <table>
        <thead>
            <tr>
                <th colspan="6">
                    <h2>Liste des sessions</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Intitule</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Nombre de places</th>
                <th>Description</th>
                <th>Detail</th>
            </tr>
            {% for session in sessions %}
            <tr>
                <td>{{ session.intitule }}</td>
                <td>{{ session.dateDebut | date('d-m-Y')}}</td>
                <td>{{ session.dateFin | date('d-m-Y')}}</td>
                <td>{{ session.nbPlace }}</td>
                <td>{{ session.detailProgramme }}</td>
                <td><a href="{{ path('show_session', {'id': session.id}) }}">Détails</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}