{% extends 'base.html.twig' %}

{% block title %}Listes des sessions{% endblock %}

{% block body %}
    <h1>Listes des sessions</h1>
    <a href="{{ path('add_session')}}">Ajouter une session</a>
    {% for session in sessions %}
        <p>L'intitulé : {{ session.intitule }}</p>
        <p>Date de début : {{ session.dateDebut | date('d-m-Y')}}</p>
        <p>Date de fin : {{ session.dateFin | date('d-m-Y')}}</p>
        <p>Nombre de places : {{ session.nbPlace }}</p>
        <p>Détail de la session : {{ session.detailProgramme }}</p>
        <a href="{{ path('show_session', {'id': session.id}) }}">Détails</a> <br>
    {% endfor %}
{% endblock %}
