{% extends 'base.html.twig' %}

{% block title %}Listes d'une session{% endblock %}

{% block body %}
    <h1>Session : {{ session }}</h1>
    <p>L'intitulé : {{ session.intitule }}</p>
    <p>Date de début : {{ session.dateDebut | date('d-m-Y')}}</p>
    <p>Date de fin : {{ session.dateFin | date('d-m-Y')}}</p>
    <p>Nombre de places : {{ session.nbPlace }}</p>
    <p>Nombre de places réservées {{ session.nbPlaceReserve }}</p>
    <p>Nombre de places disponible : {{ session.nbPlaceDisponible }}</p>
    <p>Détail de la session : {{ session.detailProgramme }}</p> <br>
{% endblock %}