{% extends 'base.html.twig' %}

{% block title %}Listes d'une session{% endblock %}

{% block body %}
    <h1>Session : {{ session }}</h1>
    <p>L'intitulé : {{ session.intitule }}</p>
    <p>Date de début : {{ session.dateDebut | date('d-m-Y')}}</p>
    <p>Date de fin : {{ session.dateFin | date('d-m-Y')}}</p>
    <p>Nombre de places : {{ session.nbPlace }}</p>
    <p>Détail de la session : {{ session.detailProgramme }}</p>
    {# Boucle sur la collection de session.stagiaires #}
    {% for stagiaire in session.stagiaires %}
        {# Affiche les valeurs de la function toString de stagiaire #}
        {{ stagiaire }} <br>
    {% endfor %}
    <a href={{ path('edit_session', {'id': session.id}) }}>Edité</a>
{% endblock %}